a, a:hover {
  text-decoration: none;
  color: rgb(0, 110, 255);
}

*, *:hover {
  transition: 0.3s all;
}

.wd-fit {
  width: -moz-fit-content;
  width: fit-content;
}

body {
  z-index: -6;
  position: relative;
}
body header.header .uk-navbar-container {
  background: transparent;
}
body header.header .uk-navbar-container .uk-navbar-left {
  border-bottom-right-radius: 30px;
  background: white;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  padding-left: 25px;
}
body header.header .uk-navbar-container .logo {
  width: 65px;
  margin: 0px auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 2px 4px silver;
  top: 10px;
  height: -moz-fit-content;
  height: fit-content;
  transition: 0.3s all;
  background-size: 400% 400%;
  background-image: linear-gradient(164deg, rgba(255, 224, 51, 0.712), rgba(255, 56, 56, 0.664), blue);
  background-position: 30% 60%;
}
body header.header .uk-navbar-container .logo:hover {
  background-position: 0% 20%;
}
body header.header .uk-navbar-container .logo:hover img {
  transform: rotate3d(5, 4, 2, 174deg);
  filter: saturate(2) brightness(1);
}
body header.header .uk-navbar-container .logo img {
  transform: rotate3d(0, 0, 0, 0);
  filter: saturate(0) brightness(5);
}
body header.header .uk-navbar-container .uk-navbar-right {
  border-bottom-left-radius: 30px;
  background: white;
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  padding-right: 25px;
  margin: 0;
}
body header.header .uk-navbar-container .uk-navbar-nav {
  padding: 5px 10px;
}
body header.header .uk-navbar-container .uk-navbar-nav * {
  font-weight: 700;
}
body header.header .uk-navbar-container .uk-navbar-nav > li a {
  color: rgb(0, 110, 255);
  filter: drop-shadow(0px 0px 3px rgba(192, 192, 192, 0.575));
  transition: 0.3s;
}
body header.header .uk-navbar-container .uk-navbar-nav > li a[title=profile] img {
  padding: 6px 8px;
}
body header.header .uk-navbar-container .uk-navbar-nav > li a img {
  width: 40px;
  filter: saturate(0%) brightness(1.1);
  border-radius: 6px;
  background: white;
}
body header.header .uk-navbar-container .uk-navbar-nav > li a:hover {
  color: rgba(252, 76, 32, 0.918);
  filter: drop-shadow(0px 2px 5px rgb(158, 158, 158));
  transition: 0.3s;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul {
  position: absolute;
  top: -40px;
  right: 5px;
  background: black;
  background: linear-gradient(0deg, rgb(216, 216, 216), transparent);
  background: linear-gradient(0deg, rgb(100, 160, 190), transparent);
  box-shadow: -2px 3px 6px silver;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 15px 5px;
  z-index: -1;
  overflow: hidden;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul li {
  display: block;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul li a {
  color: white;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul li a::after {
  content: "";
  width: 15%;
  height: 50%;
  position: absolute;
  background: white;
  left: -50px;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul li a:hover {
  transform: skewX(10deg);
  color: rgba(254, 217, 208, 0.918);
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul li a:hover::after {
  left: -20px;
  transition: 0.4s;
}
body header.header .uk-navbar-container .uk-navbar-nav > li ul:hover {
  top: 80px;
}
body header.header .uk-navbar-container .uk-navbar-nav > li:hover a > img {
  filter: saturate(50%) brightness(1);
}
body header.header .uk-navbar-container .uk-navbar-nav > li:hover ul {
  top: 40px;
}
body header.header .uk-navbar-container .uk-navbar-nav > li.current a > img {
  filter: saturate(100%) brightness(1);
}
body header.header .uk-navbar-container .uk-navbar-nav > li.active a > img {
  filter: saturate(100%) brightness(1);
}
body header.header .uk-navbar-container .uk-navbar-nav > li.active ul {
  top: 80px;
}
body section {
  z-index: -5;
  position: relative;
}
body section.content {
  margin: 40px auto;
  padding-top: 80px;
  color: black;
}
body section.content .to_do_list .row_list {
  position: relative;
  margin-bottom: 25px;
}
body section.content .to_do_list .row_list .content_list {
  box-shadow: 0px 3px 6px rgb(224, 224, 224);
  padding: 15px 30px;
  border-radius: 6px;
  background: white;
}
body section.content .to_do_list .row_list .content_list h4 {
  font-weight: 700;
}
body section.content .to_do_list .row_list .content_list p {
  text-overflow: ellipsis;
  max-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
body section.content .to_do_list .row_list .content_list .complited {
  min-width: 60px;
}
body section.content .to_do_list .row_list .content_list .complited .success svg {
  background: #32d296;
}
body section.content .to_do_list .row_list .content_list .complited .warning svg {
  background: #faa05a;
}
body section.content .to_do_list .row_list .content_list .complited svg {
  border-radius: 6px;
  color: white;
  padding: 10px;
}
body section.content .to_do_list .row_list .bottom_btns {
  justify-content: end;
}
body section.content .to_do_list .row_list .bottom_btns a, body section.content .to_do_list .row_list .bottom_btns .btn {
  color: transparent;
}
body section.content .to_do_list .row_list .bottom_btns a:hover, body section.content .to_do_list .row_list .bottom_btns .btn:hover {
  color: #000;
}
body section.content .to_do_list .row_list .bottom_btns .btn {
  margin-right: 10px;
  padding: 0;
  align-items: center;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
  box-shadow: 0px 2px 4px silver;
  max-height: 5px;
}
body section.content .to_do_list .row_list .bottom_btns .btn .icon {
  margin-right: 5px;
}
body section.content .to_do_list .row_list .bottom_btns .btn p {
  margin: 0;
  font-weight: 600;
}
body section.content .to_do_list .row_list .bottom_btns .btn:hover {
  max-height: 40px;
}
body section.content .to_do_list .row_list .bottom_btns .btn.add {
  background: #32d296;
}
body section.content .to_do_list .row_list .bottom_btns .btn.add:hover {
  background: #5cdbab;
}
body section.content .to_do_list .row_list .bottom_btns .btn.update {
  background: #1e87f0;
}
body section.content .to_do_list .row_list .bottom_btns .btn.update:hover {
  background: #4ea1f3;
}
body section.content .to_do_list .row_list .bottom_btns .btn.delete {
  background: #f0506e;
}
body section.content .to_do_list .row_list .bottom_btns .btn.delete:hover {
  background: #f47f95;
}
body section.content .to_do_list .row_list:hover .btn {
  padding: 5px 15px;
  max-height: 20px;
}
body section.content .to_do_list .row_list:hover a, body section.content .to_do_list .row_list:hover p {
  color: rgb(68, 68, 68);
}
body section.content .to_do_list .row_list:hover a svg, body section.content .to_do_list .row_list:hover .btn svg {
  color: rgb(68, 68, 68);
  transition: 0s color;
}
body section.content .nav_pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
body section.content .nav_pages ul li {
  display: block;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.26) inset;
  padding: 5px 10px;
  background: rgb(0, 110, 255);
}
body section.content .nav_pages ul li a {
  color: #b3d4ff;
}
body section.content .nav_pages ul li:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
body section.content .nav_pages ul li:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
body section.content .nav_pages ul li:hover, body section.content .nav_pages ul li.active {
  background: #0058cc;
}
body section.content .nav_pages ul li:hover a, body section.content .nav_pages ul li:hover span, body section.content .nav_pages ul li.active a, body section.content .nav_pages ul li.active span {
  color: white;
}
body section .bg_volny {
  background-image: url("/img/volny_okean.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
  padding: 10px;
}
body section .bg_volny h1, body section .bg_volny h2, body section .bg_volny h3, body section .bg_volny h4, body section .bg_volny h5, body section .bg_volny h6 {
  color: white;
}
body section .bg_volny h2 {
  text-transform: uppercase;
}
body section form .uk-inline .uk-input {
  border-radius: 4px;
}
body section form .uk-inline input[type=submit] {
  text-transform: uppercase;
  box-shadow: 1px 2px 5px rgb(224, 224, 224);
  transform: skewX(0deg);
  transition: 0.3s;
}
body section form .uk-inline:hover input[type=submit] {
  background: #000;
  color: white;
  box-shadow: 2px 3px 10px rgb(224, 224, 224);
  box-shadow: 2px 3px 10px rgb(85, 160, 160);
  transform: skewX(-13deg);
  transition: 0.3s;
}
body section form .uk-inline:hover .uk-form-icon[uk-icon="icon: push"] {
  filter: brightness(23);
  z-index: 100;
}
body #modal_todolist .forms-control .uk-inline {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0;
}
body #modal_todolist .forms-control .uk-inline label {
  margin-left: 10px;
}
body #modal_todolist button[type=submit] svg {
  color: white;
}
body footer {
  padding: 100px;
  box-shadow: 0px -3px 6px rgb(224, 224, 224);
}
