// header
$linkColor: rgb(0, 110, 255);
$linkColor-hv: rgba(252, 76, 32, 0.918);

$logo-shadow: 0px 2px 4px silver;
$headerLogoWigth: 100px;
$header-nav-shadow: 0px 3px 6px rgb(224, 224, 224);

$info: #1e87f0;
$success:#32d296;
$warning:#faa05a;
$border-radius-logo: 10px;
$border-radius-img: 6px;
$border-radius-input: 4px;

// footer
$footer-shadow: 0px -3px 6px rgb(224, 224, 224);
$bg-content: linear-gradient(170deg, rgba(0, 0, 0, 0), rgba(14, 2, 49, 0.63));

*,*:hover{
    transition: .3s all;
}
.wd-fit{
    width: fit-content;
}

body{
    z-index: -6;
    position: relative;

    header.header {

        .uk-navbar-container{
            background: transparent;
    
            .uk-navbar-left{
                border-bottom-right-radius: 30px;
                background: white;
                box-shadow: $header-nav-shadow;
                padding-left: 25px;
            }
    
            .logo{
                width: 65px;
                margin: 0px auto;
                position: relative;
                border-radius: $border-radius-logo;
                box-shadow: $logo-shadow;
                top: 10px;
                height: fit-content;
                transition: .3s all;
    
                background-size: 400% 400%;             
                background-image: linear-gradient(164deg, rgba(255, 224, 51, 0.712), rgba(255, 56, 56, 0.664), blue);
                background-position: 30% 60%;
        
    
                &:hover{
                    background-position: 0% 20%;
                    // box-shadow: 0px 8px 15px silver;
    
                    img{
                        transform: rotate3d(5, 4, 2, 174deg);
                        filter: saturate(2) brightness(1);
                    }
                }
    
                img{
                    transform: rotate3d(0, 0, 0, 0);
                    filter: saturate(.0) brightness(5);
                }
            }
    
            .uk-navbar-right{
                border-bottom-left-radius: 30px;
                background: white;
                box-shadow: $header-nav-shadow;
                padding-right: 25px;
                margin: 0;
            }
    
            .uk-navbar-nav{
                padding: 5px 10px;
    
                *{
                    font-weight: 700;
                }
    
                &>li{
                    a{
                        color: $linkColor;
                        // transform: skew(0deg,0deg);
                        filter: drop-shadow(0px 0px 3px rgba(192, 192, 192, 0.575));
                        transition: .3s;
    
                        img{
                            width: 40px;
                            filter: saturate(0%) brightness(1.1);
                            border-radius: $border-radius-img;
                            background: white;
                        }
    
                        &:hover{
                            color: $linkColor-hv;
                            // transform: skew(10deg,1deg);
                            filter: drop-shadow(0px 2px 5px rgb(158, 158, 158));
                            transition: .3s;                    
                        }
                    }  
                    
                    ul{
                        position: absolute;
                        top: -40px;
                        right: 5px;
                        background: black;
                        background: linear-gradient(0deg, rgb(216, 216, 216), transparent);
                        background: linear-gradient(0deg, rgb(100, 160, 190), transparent);
                        box-shadow: -2px 3px 6px silver;
                        border-radius: 6px;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 25px 15px 5px;
                        z-index: -1;
                        overflow: hidden;
    
                        li{
                            display: block;
                            
    
                            a{
                                color: white;
                                display: block;
                                position: relative;
                                text-decoration: none;
                                padding: 0;

                                &::after{
                                    content: "";
                                    width: 15%;
                                    height: 50%;
                                    position: absolute;
                                    background: white;
                                    left: -50px;
                                    border-radius: 50px;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                }

                                &:hover{
                                    transform: skewX(10deg);
                                    // color: rgb(223, 223, 223);
                                    color: lighten($linkColor-hv, 35%);

                                    &::after{
                            
                                        left: -20px;
                                        transition: .4s;
                                    }
                                }
                            }
                        }
    
                        &:hover{
                            top: 80px;
                        }
                    }
    
                    &:hover{

                        a>img{
                            filter: saturate(50%) brightness(1);
                        }

                        ul{
                            top: 40px;
                        }
                    }
                    &.current{
                        a>img{
                            filter: saturate(100%) brightness(1);
                        }
                    }
                    &.active{

                        a>img{
                            filter: saturate(100%) brightness(1);
                        }
                        
                        ul{
                            top: 80px;
                        }
                    }
                }
            }
    
           
        }
        
    }
    
    section{
    
        z-index: -5;
        position: relative;

        &.content{
            margin: 40px auto;
            padding-top: 80px;
            color: black;

            .to_do_list{

                .row_list{

                    position: relative;
                    margin-bottom: 25px;

                    .content_list{
                        box-shadow: $header-nav-shadow;
                        padding: 15px 30px;
                        border-radius: $border-radius-img;
                        background: white;

                        h4{
                            font-weight: 700;
                        }
                        p{
                            text-overflow: ellipsis;
                            max-height: 72px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }

                        .complited{
                            min-width: 60px;
                            
                            .success{
                                svg{
                                    background: $success;
                                }
                            }
                            .warning{
                                svg{
                                    background: $warning;
                                }
                            }

                            svg{
                                border-radius: $border-radius-img;
                                color: white;
                                padding: 10px;
                            }
                        }
                    }

                    .bottom_btns{
                        justify-content: end;

                        .btn{
                            margin-right: 10px;
                            padding: 5px 15px;
                            align-items: center;
                            border-radius: $border-radius-logo;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            cursor: pointer;
                            box-shadow: $logo-shadow;
                            max-height: 20px;
                            
                            .icon{
                                margin-right: 5px;
                            }

                            p{
                                margin: 0;
                                font-weight: 600;
                            }

                            &:hover{
                                max-height: 40px;
                            }

                            &.add{
                                background: $success;

                                &:hover{
                                    background: lighten($success,10%);
                                }
                            }

                            &.update{
                                background: $info;
                                
                                &:hover{
                                    background: lighten($info,10%);
                                }
                            }

                            &.delete{
                                background: $warning;

                                &:hover{
                                    background: lighten($warning,10%);
                                }
                            }

                        }
                    }
                    
                }
            }
        }
    
        .bg_volny{
            background-image: url('/img/volny_okean.jpg');
            background-size: cover;
            overflow: hidden;
            color: white;
            padding: 10px;
    
            h1,h2,h3,h4,h5,h6{
                color: white;
            }
            h2{
                text-transform: uppercase;
            }
        }
    
        form{
    
    
            .uk-inline{
    
                .uk-input{
                    border-radius: $border-radius-input;
                }
    
                input[type="submit"]{
                    text-transform: uppercase;
                    box-shadow: 1px 2px 5px rgb(224, 224, 224);
                    transform: skewX(0deg);
                    transition: .3s;
                }
    
                &:hover{
    
                    input[type="submit"]{
                        background: #000;
                        color: white;
                        box-shadow: 2px 3px 10px rgb(224, 224, 224);
                        box-shadow: 2px 3px 10px rgb(85, 160, 160);
                        transform: skewX(-13deg);
                        transition: .3s;
                    }
                    .uk-form-icon[uk-icon="icon: push"]{
                        filter: brightness(23);
                        z-index: 100;
                    }
                    
                }
    
    
            
                
            }
           
        }
    }

    .form_todolist_add{
        
        .forms-control{

            
            .uk-inline{
                display: flex;
                align-items: center;
                margin-right: 10px;
                padding: 0;

                label{
                    margin-left: 10px;
                }
            }
            
        }

        button[type="submit"]{

            svg{
                color: white;
            }
        }

    }
    
    footer{
        // background:$bg-content;
        padding: 100px;
        box-shadow: $footer-shadow;
    }

    
}
